@import '../../styles/reset.css';
@import '../../styles/palette.css';
@import '../../styles/typography.css';
@import '../../styles/container.css';
@import '../../styles/motion.css';

html {
  background: var(--background);
}

body {
  font-family: var(--font-sequel);
  font-weight: 300;
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
  color: var(--foreground);
}
